# Secrets
secrets.json

# Database
*.sqlite3
db.sqlite3

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/

# Django
*.log
local_settings.py
settings_local.py
staticfiles/
media/

# IDE
.vscode/
.idea/
*.swp
*.swo

# macOS
.DS_Store

# Logs
logs/
*.log
